body {
	background-color: green;
	margin:0;
}
.main {
	width: 100%;
	height: 600px;
	background-color: blue;
}
.header {
	width: 100%;
	height: 140px;
	background-color: orange;
}

.logo {
	width: 10%;
	height: 100%;
	background-color: red;
	float: left;

}
.menu{
	width: 90%;
	height: 100%;
	background-color: yellow;
	float: right;	
}
.navbar {
	width: 60%;
	height: 100%;
	background-color: gray;
	margin: 0px auto; 
}
a {
	font-size: 30px;
	color:white;
	text-decoration: none;
	margin:30px;
	display: inline-block;
	font-family: calibri;
	text-shadow: 2px 2px 1px rgba(50,50,50,0,9)

}

.header3 {
	width: 400px;
	height: 400px;
	background-color: black;
	float: left;
	margin:0px 20px 20px 20px;
}
.image {
	width: 100%;
	height: 100%;
}